<p style="color: green"><%= notice %></p>

<div class="banner mb-4" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= @garden.banner_url %>);">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <%= render 'plants/form', garden: @garden, plant: @plant %>
    </div>
  </div>
  <div class="cards my-4">
    <%= render 'plants/list', plants: @garden.plants %>
  </div>

</div>
